#main {
    float: left;
    border: solid 0px;
    width: 1500px;
    height: 1000px;
    background-image: linear-gradient(to right, #7F7FD5, #86A8E7, #91EAE4);
    border-radius: 25px;


}

#head {
    float: left;
    border: solid #86A8E7 1px;
    width: 1500px;
    height: 80px;
    background-color: white;
    border-radius: 25px;


}

#head-title {
    text-align: center;
    color: #7F7FD5;
    font-family: Bahnschrift, serif;
}

#rightBar {
    float: left;
    border: solid white 0px;
    width: 400px;
    height: 900px;
}

#inputAreas {
    float: left;
    position: relative;
    border: solid 0px;
    width: 250px;
    height: 600px;
    padding-left: 80px;
    padding-top: 100px;
    font-family: Bahnschrift, serif;
    color: white;
    text-align: center;
}

.Areas {
    width: 200px;
    margin: 15px;
    border-radius: 5px;
    border-color: transparent;


}

.buttons {
    margin-top: 25px;

    font-family: Bahnschrift, serif;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border-color: transparent;
}

#bt1 {
    position: relative;
    right: 50px;
    margin-right: 10px;
    background-color: gold;
}

#bt2 {

    position: relative;
    right: 245px;
    top: 250px;
    background-color: gold;
}

#tableDiv {

    float: left;
    position: relative;
    left: 50px;
    top: 120px;
    border: 0px solid white;
    width: 800px;
    height: 350px;

}


.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 800px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: transparent;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    font-family: Bahnschrift, serif;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 0px solid white;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #86A8E7;
}


